@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for clean UI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
